# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: Npm@1
  displayName: 'Install Playwright'
  inputs:
    command: 'install'
    customCommand: 'npm install playwright --with-deps'

- task: Npm@1
  displayName: 'Run Playwright tests'
  inputs:
    customCommand: 'npx playwright test'

- task: PublishBuildArtifacts@1
  displayName: 'Publish test results'
  inputs:
    pathToPublish: '$(build.artifactStagingDirectory)/test-results'
    artifactName: 'test-results'
    publishLocation: 'Container'
